<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>protectedshops</name>
	<displayName><![CDATA[Protected Shops AGB Connect]]></displayName>
	<version><![CDATA[2.2.0]]></version>
	<description><![CDATA[Generate legal texts like terms and conditions, imprint, privacy policy and many more - Automatically protected against legal proceedings.]]></description>
	<author><![CDATA[touchdesign]]></author>
	<tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>